header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
}

button,
h1,
p {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

button {
    width: auto;
    margin-top: 1em;
    border: 0;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0;
  
    a {
        text-decoration: none;
        color: whitesmoke;
        margin: 0;
        padding: 0;
    }
  }
  
  button:hover {
    background: white !important;
  
    a {
        color: black;
    }
  }

@media screen and (max-width: 992px) {
    header {
        align-items: center;
    }
    button,
    h1,
    a {
        display: flex;
        justify-content: center;
    }
}