<div class="container">
    <div class="cont">
        <div class="form sign-in">
            <h2>Benvenuto,</h2>
            <h4 style="display: flex;justify-content: center " class="py-3">Inserisci l'intervallo di tempo<br> che hai scelto!</h4>
            <label>
      <span>Data di Inizio</span>
      <input type="date" class="form-control" id="date-start" />
    </label>
            <label>
      <span>Data di Fine</span>
      <input type="date" class="form-control" id="date-stop" />
    </label>
            <button type="button" class="btn btn-primary"><p>Invio</p></button>
        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                    <h2>Amante del cinema?</h2>
                    <p>Cerca migliaia di film in esclusiva!</p>
                </div>
            </div>
        </div>
    </div>
</div>