<div class="row mt-3">
  <div class="col-4">
    <h5>Benvenuto!</h5>
    <body>
      Inserisci l'intervallo di tempo che hai scelto
      <div class="mb-3">
        <label for="date-start" class="form-label">Data di Inizio</label>
        <input type="date" class="form-control" id="date-start" />
      </div>

      <div class="mb-3">
        <label for="date-stop" class="form-label">Data di Fine</label>
        <input type="date" class="form-control" id="date-stop" />
      </div>
      
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Invio</button>
      </div>

    </body>
  </div>
</div>
