<div class="container">
    <div class="cont">
        <div class="form sign-in">
            <h2>Benvenuto,</h2>
            <h4 style="display: flex;justify-content: center " class="py-3">Inserisci l'intervallo di tempo<br> che hai scelto!</h4>
            <label>
      <span>Data di Inizio</span>
      <input type="date" class="form-control" id="date-start" />
    </label>
            <label>
      <span>Data di Fine</span>
      <input type="date" class="form-control" id="date-stop" />
    </label>
            <button type="button" class="btn btn-primary"><p>Invio</p></button>
        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                    <h2>Amante del cinema?</h2>
                    <p>Cerca migliaia di film in esclusiva!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="container">

  <div class="row mt-3">
    <div class="col-12">
      <h1>Benvenuto!</h1>
      <h2>Inserisci l'intervallo di tempo che hai scelto</h2>
    </div>
  </div>
      
    <div class="row">
      <div class="col-2">
        
        <div class="mb-3">
          <label for="date-start" class="form-label">Data di Inizio</label>
          <input type="date" class="form-control" id="date-start" />
        </div>

        <div class="mb-3">
          <label for="date-stop" class="form-label">Data di Fine</label>
          <input type="date" class="form-control" id="date-stop" />
        </div>
        
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Invio</button>
        </div>

    </div>
  </div>
</div>-->