header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: self-end;
}

button,
h1,
p {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

button {
    width: 70px;
    display: flex;
    justify-self: flex-end;
    background-color: transparent;
    margin-top: 1em;
    a {
        text-decoration: none;
        color: black;
    }
}

@media screen and (max-width: 992px) {
    header {
        align-items: center;
    }
    button,
    h1,
    p {
        display: flex;
        justify-content: center;
    }
}