.cont {
    margin-top: 3.5em;
    background-image: url(../../../assets/images/cinema-people.jpg);
    background-size: cover;
    height: 80vh;
}

h3 {
    padding-top: 1em;
    text-transform: uppercase;
    text-align: center;
    color: antiquewhite;
}

.separator {
    margin: 0 auto;
    margin-bottom: 2em;
    width: 150px;
    height: 4px;
    background-color: #8C0335;
}