<div class="main">
    <div class="cont">
        <div class="form sign-in">
            <label>
                <span>Data di Inizio</span>
                <input type="date" class="form-control" id="date-start" [max]="filterLteDate"
                    [(ngModel)]="filterGteDate" />
            </label>
            <label>
                <span>Data di Fine</span>
                <input type="date" class="form-control" id="date-stop" [min]="filterGteDate"
                    [(ngModel)]="filterLteDate" />
            </label>
            <button type="button" class="submit " (click)="onFormSubmit()">
                <p>Cerca</p>
            </button>
        </div>
    </div>
</div>

<div class="row" *ngIf="isMovieListRendered">
    <div class="col-12">
        <tnv-event-item [filterGteDate]="startDate" [filterLteDate]="endDate"> </tnv-event-item>
        <tnv-movie [filterGteDate]="startDate" [filterLteDate]="endDate"> </tnv-movie>
        
    </div>
</div>