<section style="background-color: #F0F2F5;">
    <div class="container py-5">
        <div class="main-timeline-2">
            <div class="timeline-2 left-2">
                <div class="card">
                    <div class="image">
                        <img [src]="'https://image.tmdb.org/t/p/w440_and_h660_face' + movie.poster_path" class="card-img-top" alt="Responsive image">
                    </div>
                    <div class="card-body p-4">
                        <div class="details">
                            <div class="center">
                                <h4 class="fw-bold mb-4">{{ movie.title | titlecase }}</h4>
                                <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> {{ movie.release_date }}</p>
                                <p class="mb-0">{{movie.overview}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>