<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <div class="timeline-year">{{movie.release_date}}</div>
                        <div class="timeline-icon"><img [src]="'https://image.tmdb.org/t/p/w440_and_h660_face/b1UAG3QykMoLxwDgzk1LqsBkkG3.jpg'"></div>
                        <h3 class="title">{{ movie.title | titlecase }}</h3>
                        <p class="description">
                            {{movie.overview}}
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>
