
.login-card {
  width: 800px;
}

.wrap {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 768px){

.login-card {
  width: 400px;
}

}

.login-card-padding {
  padding: 3em;
  background-color: #3B403B;
  background: transparentize($color: #3B403B, $amount: 0.3);
}

h3,
label,
p {
  color: whitesmoke;
}

a {
  color: #8C0335;
}

button {
  width: 100%;
  margin-top: 1em;
  border: 0;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0;

  p {
      text-decoration: none;
      color: whitesmoke;
      margin: 0;
      padding: 0;
  }
}

button:hover {
  background: white !important;

  p {
      color: black;
  }
}