<div class="movie-card">
    <div class="movie-img">
        <img [src]="'https://image.tmdb.org/t/p/w440_and_h660_face' + movie.poster_path" alt="poster_path" />
    </div>
    <div class="info">
        <span>{{movie.release_date | date: 'd MMM y'}}</span>
        <span>{{movie.runtime}} min</span>
        <span>{{movie.vote_average}}/10</span>
    </div>
    <div class="card-body">
        <h2 class="movie-title">{{movie.title}}</h2>
        <p class="movie-intro">{{movie.overview}} </p>

    </div>
    <ngb-rating id="rating" [max]="5" [readonly]="true"></ngb-rating>