.page-content {
    margin-top: 96px;
}

header h1 {
    color: white;
    font-size: 128px;
    margin: 0;
    text-shadow: 2px 2px 4px black;
}

.page-content.container {
    width: 100%;
    background-image: url(../../../assets/images/gold-photo.jpg);
    background-size: 1300px;
}